workflow/Idealista con n8n.json
{
  "nodes": [
    {
      "parameters": {
        "sheetId": "1itlkJxcIcPm_1JfahmVUTGLD-V_UmGldAuSPidv5ci8",
        "range": "Sheet1!A:E",
        "options": {}
      },
      "name": "Leer Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 2,
      "position": [
        -2608,
        -176
      ],
      "id": "49f30b5c-f5f1-4045-b070-87e618bb996b",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "quGr0qFeZlSFGAXq",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "const nuevoUsuario = items[0].json;\nconst existentes = items.slice(1).map(item => item.json);\n\nconst yaExiste = existentes.some(row => row.chat_id === nuevoUsuario.chat_id);\n\nreturn yaExiste ? [] : [ { json: nuevoUsuario } ];"
      },
      "name": "Verificar duplicado",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -2192,
        -16
      ],
      "id": "c7f1f9f6-6795-4128-a57b-cd88ed8ac67a"
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "name": "Telegram Trigger1",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1,
      "position": [
        -3056,
        -96
      ],
      "id": "ff50c546-fe74-42b5-a014-efac62d3d3a9",
      "webhookId": "3e9fc35e-6d16-49b4-aa8c-ee706c9d851a",
      "credentials": {
        "telegramApi": {
          "id": "aAZe6diQ0QrgyEgD",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d70d58ff-7279-4800-9694-141e1748eaec",
              "name": "chat_id",
              "value": "={{ $json.message.chat.id }}",
              "type": "string"
            },
            {
              "id": "56e5c977-a1b4-49df-91a4-af742c2fff09",
              "name": "username",
              "value": "={{ $json.message.from.username }}",
              "type": "string"
            },
            {
              "id": "0a9884a9-a5e0-4c08-9946-e559d66de85e",
              "name": "text",
              "value": "={{ $json.message.text }}",
              "type": "string"
            },
            {
              "id": "72325879-2815-4c22-8755-138b8fea8ce7",
              "name": "date",
              "value": "={{ new Date().toISOString() }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2816,
        80
      ],
      "id": "121a1cbe-348e-4948-b6d3-1be1f1dbc917",
      "name": "Edit Fields"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -2384,
        -16
      ],
      "id": "0374e10d-b7ea-499d-9f4e-7f773d3b1274",
      "name": "Merge"
    },
    {
      "parameters": {
        "url": "https://www.idealista.com/alquiler-viviendas/bilbao-vizcaya/?ordenado-por=fecha-publicacion-desc",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 Chrome/117.0.0.0 Safari/537.36"
            },
            {
              "name": "Accept",
              "value": " text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8"
            },
            {
              "name": "Accept-Language",
              "value": " es-ES,es;q=0.9,en;q=0.8"
            },
            {
              "name": "Referer",
              "value": " https://www.google.com/"
            },
            {
              "name": "Connection",
              "value": " keep-alive"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1792,
        192
      ],
      "id": "b015c325-bd56-4144-aba2-3a1b1f047081",
      "name": "HTTP Request Idealista",
      "notesInFlow": false,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "dataPropertyName": "=data",
        "extractionValues": {
          "values": [
            {
              "key": "=Título",
              "cssSelector": "article.item a.item-link",
              "returnArray": true
            },
            {
              "key": "URL",
              "cssSelector": "article.item a.item-link",
              "returnValue": "attribute",
              "attribute": "href",
              "returnArray": true
            },
            {
              "key": "Ubicación",
              "cssSelector": "article.item a.item-link",
              "returnArray": true
            },
            {
              "key": "Precio",
              "cssSelector": "article.item .item-price",
              "returnArray": true
            },
            {
              "key": "Características",
              "cssSelector": "article.item .item-detail-char",
              "returnArray": true
            },
            {
              "key": "FechaAnuncio",
              "cssSelector": "article.item span.item-detail",
              "returnValue": "=text",
              "returnArray": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        -1632,
        192
      ],
      "id": "0a2de0c1-b100-4bfa-a153-3c099f43aedf",
      "name": "Extraer Datos"
    },
    {
      "parameters": {
        "jsCode": "const resultados = [];\n\n$input.all().forEach(item => {\n  const caracteristicas = item.json.Características || [];\n  const titulos = item.json.Título || [];\n  const urls = item.json.URL || [];\n  const precios = item.json.Precio || [];\n\n  // Asegurar que todos los campos sean arrays\n  const titulosArray = Array.isArray(titulos) ? titulos : [titulos];\n  const urlsArray = Array.isArray(urls) ? urls : [urls];\n  const preciosArray = Array.isArray(precios) ? precios : [precios];\n  const caracteristicasArray = Array.isArray(caracteristicas) ? caracteristicas : [caracteristicas];\n\n  function convertirATiempoEnMinutos(texto) {\n    if (!texto || typeof texto !== 'string') return null;\n\n    const limpio = texto.trim().toLowerCase();\n\n    if (limpio === 'publicado ayer' || limpio === 'ayer') {\n      return 1440;\n    }\n\n    const matchHoras = limpio.match(/(\\d+)\\s*(hor|hora|horas)/);\n    if (matchHoras) return parseInt(matchHoras[1]) * 60;\n\n    const matchMin = limpio.match(/(\\d+)\\s*(min|minuto|minutos)/);\n    if (matchMin) return parseInt(matchMin[1]);\n\n    const matchFecha = limpio.match(/^(\\d{1,2})\\s+(ene|feb|mar|abr|may|jun|jul|ago|sep|oct|nov|dic)$/);\n    if (matchFecha) {\n      const dia = parseInt(matchFecha[1]);\n      const mesTexto = matchFecha[2];\n      const meses = {\n        ene: 0, feb: 1, mar: 2, abr: 3, may: 4, jun: 5,\n        jul: 6, ago: 7, sep: 8, oct: 9, nov: 10, dic: 11\n      };\n      const mes = meses[mesTexto];\n      const ahora = new Date();\n      const año = ahora.getFullYear();\n      const fechaAnuncio = new Date(año, mes, dia);\n      const diferenciaMs = ahora - fechaAnuncio;\n      return Math.floor(diferenciaMs / 1000 / 60);\n    }\n\n    return null;\n  }\n\n  function limpiarPrecio(texto) {\n    if (!texto || typeof texto !== 'string') return null;\n    const soloNumeros = texto.replace(/[^\\d]/g, '');\n    return soloNumeros ? parseInt(soloNumeros) : null;\n  }\n\n  for (let i = 0; i < caracteristicasArray.length; i++) {\n    const carac = caracteristicasArray[i];\n    const patronTiempo = /^(.+?)\\s+(Publicado ayer|ayer|\\d+\\s*(seg|segundos?|min|minutos?|hor|horas?|día|días|sem|semanas?|mes|meses|año|años|ene|feb|mar|abr|may|jun|jul|ago|sep|oct|nov|dic))$/i;\n    const match = typeof carac === 'string' ? carac.match(patronTiempo) : null;\n\n    let caracteristicaLimpia = carac;\n    let tiempoTexto = '';\n    let minutos = null;\n\n    if (match) {\n      caracteristicaLimpia = match[1].trim();\n      tiempoTexto = match[2].trim();\n      minutos = convertirATiempoEnMinutos(tiempoTexto);\n    }\n\n    const precioLimpio = limpiarPrecio(preciosArray[i]);\n\n    resultados.push({\n      json: {\n        Título: titulosArray[i] || '',\n        URL: urlsArray[i] || '',\n        Precio: precioLimpio,\n        Caracteristicas_Limpias: caracteristicaLimpia,\n        Tiempo_Publicacion: tiempoTexto,\n        Minutos: minutos\n      }\n    });\n  }\n});\n\nreturn resultados;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1472,
        192
      ],
      "id": "9760bd06-2006-4d52-b2d0-255cf6eeb3dd",
      "name": "Code limpiar datos"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5528085e-27ef-49b0-ae18-3fcdb769b0a9",
              "name": "text",
              "value": "=={{ \"🔍 Se han encontrado \" + $json.totalAnuncios + \" nuevos anuncios según su filtro.\\n\\nPuedes ver más proyectos en esta página web:\\nhttps://armanghazi.github.io/portfolio/\" }}\n",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -560,
        -240
      ],
      "id": "2a07ddb5-25e1-48fb-a187-d8491b560f5d",
      "name": "escribir mensaje principal"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5528085e-27ef-49b0-ae18-3fcdb769b0a9",
              "name": "text",
              "value": "={{\n[\n\n  \"🏠 \" + $json.Título,\n  \"📅 Precio:\" + $json.Precio + \"€\",\n  \"🏢 \" + $json.Caracteristicas_Limpias,\n  \"🔗 Enlace del anuncio: https://www.idealista.com\" + $json.URL,\n  \"🕒 Fecha del anuncio: \" + $json.Tiempo_Publicacion\n].filter(Boolean).join(\"\\n\")\n}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -640,
        16
      ],
      "id": "1aa25054-77dd-4292-a8b0-ed59aa3c331d",
      "name": "Ordenar y escribir mensaje de los anuncios"
    },
    {
      "parameters": {
        "chatId": "={{ $('Edit Fields').first().json.chat_id }}",
        "text": "En las últimas 6 horas no hay anuncios nuevos. Puedes ver más proyectos en esta página web: https://armanghazi.github.io/portfolio/",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -640,
        352
      ],
      "id": "6a3ee8e9-6607-4c72-826e-8980838c978c",
      "name": "Enviar mensaje null a Telegram",
      "webhookId": "2782b033-2b3b-42f0-a160-4ac075c1a5a5",
      "credentials": {
        "telegramApi": {
          "id": "aAZe6diQ0QrgyEgD",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Edit Fields').first().json.chat_id }}",
        "text": "={{ $json.text }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -336,
        -128
      ],
      "id": "259218b5-6db9-41da-bbc5-8963f3aa5c0c",
      "name": "Enviar mensajes e los anuncios a Telegram",
      "webhookId": "2782b033-2b3b-42f0-a160-4ac075c1a5a5",
      "credentials": {
        "telegramApi": {
          "id": "aAZe6diQ0QrgyEgD",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "sheetId": "1itlkJxcIcPm_1JfahmVUTGLD-V_UmGldAuSPidv5ci8",
        "range": "Sheet1!A:E",
        "options": {}
      },
      "name": "Guardar en Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 2,
      "position": [
        -2000,
        -32
      ],
      "id": "a3e6c485-db83-4981-ae5a-53a55efe61b4",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "quGr0qFeZlSFGAXq",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "mode": "expression",
        "numberOutputs": 2,
        "output": "={{ $input.all().some(item => typeof item.json.Minutos === 'number' && item.json.Minutos < 360) ? 0 : 1 }}"
      },
      "id": "20256a7e-0828-4af3-8a81-971d6346ee71",
      "name": "¿Hay anuncios nuevos?",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        -1296,
        192
      ]
    },
    {
      "parameters": {
        "jsCode": "const anunciosNuevos = $input.all().filter(item => item.json.Minutos < 360);\nconst count = anunciosNuevos.length;\n\nreturn anunciosNuevos.map(item => ({\n  json: {\n    ...item.json,\n    totalAnuncios: count\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -960,
        -96
      ],
      "id": "f2a1afea-9e09-4877-950d-ae8b8e9af67d",
      "name": "Code_con"
    },
    {
      "parameters": {
        "jsCode": "const total = $input.all().length;\n\nreturn [\n  {\n    json: {\n      totalAnuncios: total\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -768,
        -240
      ],
      "id": "28d407f0-adc2-4bb7-b8c8-a9ea1ec30f8a",
      "name": "Code_contar"
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    json: {\n      text: \"En las últimas 6 horas no hay anuncios nuevos. Puedes ver más proyectos en esta página web: armanghazi.github.io/portfolio/\"\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -960,
        400
      ],
      "id": "e3e86485-9be8-4e15-b713-51799fca031c",
      "name": "Code_sin"
    }
  ],
  "connections": {
    "Leer Google Sheets": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificar duplicado": {
      "main": [
        [
          {
            "node": "Guardar en Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger1": {
      "main": [
        [
          {
            "node": "Leer Google Sheets",
            "type": "main",
            "index": 0
          },
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          },
          {
            "node": "Leer Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Verificar duplicado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request Idealista": {
      "main": [
        [
          {
            "node": "Extraer Datos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraer Datos": {
      "main": [
        [
          {
            "node": "Code limpiar datos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code limpiar datos": {
      "main": [
        [
          {
            "node": "¿Hay anuncios nuevos?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "escribir mensaje principal": {
      "main": [
        [
          {
            "node": "Enviar mensajes e los anuncios a Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ordenar y escribir mensaje de los anuncios": {
      "main": [
        [
          {
            "node": "Enviar mensajes e los anuncios a Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guardar en Google Sheets": {
      "main": [
        [
          {
            "node": "HTTP Request Idealista",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Hay anuncios nuevos?": {
      "main": [
        [
          {
            "node": "Code_con",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code_sin",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code_con": {
      "main": [
        [
          {
            "node": "Ordenar y escribir mensaje de los anuncios",
            "type": "main",
            "index": 0
          },
          {
            "node": "Code_contar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code_contar": {
      "main": [
        [
          {
            "node": "escribir mensaje principal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code_sin": {
      "main": [
        [
          {
            "node": "Enviar mensaje null a Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "558d88703fb65b2d0e44613bc35916258b0f0bf983c5d4730c00c424b77ca36a"
  }
}